/* TODOS LOS DERECHOS RESERVADOS POR LA IGLESIA INTERNACIONAL HUERTO DEL ESPÍRITU SANTO */

/* ESTILOS GENERALES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  height: 100px;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: stretch;
  background: #ddd;
}

#menu__ac {
  visibility: hidden;
}

.nav__logo {
  height: 98%;
  padding-left: 5px;
  padding-right: 35px;
}

.nav__logo img {
  height: 100%;
  padding-right: 30px;
}

.nav__links {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.nav__link {
  text-decoration: none;
  color: #000;
  padding: 5px 15px;
  transition: .8s;
  font-family: 'Share Tech Mono', sans-serif;
}

.nav__link:hover {
  transition: .8s;
  color: #031988;
}

.nav__search {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav__input {
  height: 30px;
  width: 50vh;
  border-radius: 20px;
  border: none;
  padding: 5px 10px;
  font-size: 18px;
  font-family: 'Share Tech Mono', sans-serif;
}

.nav__button {
  background: transparent;
  border: none;
  height: 30px;
  margin-left: 10px;
  transition: .8s;
  margin-right: 30px;
}

.nav__button img:hover {
  transition: .8s;
  cursor: pointer;
}

.nav__button img {
  height: 100%;
}

.nav__theme {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav__themes {
  background: transparent;
  border: none;
  height: 30px;
}

.nav__themes img:hover {
  transition: .8s;
  cursor: pointer;
}

.nav__themes img {
  height: 100%;
}

.hero {
  background: #dffddf;
  height: 514px;
}

.hero__text {
  height: 300px;
  width: 500px;
  padding-top: 100px;
  padding-left: 150px;
  float: left;
}

.hero__title {
  color: #031988;
  font-family: 'Aclonica', sans-serif;
  font-size: 28px;
  padding: 2px;
}

.hero__subtitle {
  font-family: 'Aclonica', sans-serif;
  color: #CDA200;
  font-size: 33px;
  padding: 2px;
}

.hero__description {
  font-family: 'Share Tech Mono', sans-serif;
  padding: 2px;
  text-align: justify;
}

.hero__description span {
  font-size: 13px;
  padding: 2px;
}

.hero__presentation {
  background: #1295bd;
  color: #fff;
  height: 400px;
  width: 500px;
  float: left;
  margin-top: -230px;
  margin-left: calc(100% - 650px);
  display: flex;
  align-items: center;
  border-radius: 15px;
}

.hero__presentation img {
  height: 100%;
}

.start {
  position: absolute;
  background: #031988;
  color: #fff;
  text-decoration: none;
  font-family: 'Share Tech Mono', sans-serif;
  padding: 10px 150px;
  border-radius: 30px;
  bottom: 90px;
  left: 150px;
  font-size: 20px;
  transition: .8s;
}

.start:hover {
  transition: .8s;
  background: #092ace;
}

.container__about {
  width: 100%;
  height: 100%;
}

.container__title {
  color: #CDA200;
  text-align: center;
  font-family: 'Aclonica', sans-serif;
  margin-top: 30px;
  padding-top: 20px;
}

.container__subtitle {
  text-align: center;
  font-family: 'Aclonica', sans-serif;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.content {
  display: block;
  width: 98%;
  height: 1835px;
  margin: 1%;
  border-radius: 20px;
  float: left;
  padding: 10px 20px;
}

.container__bar {
  position: absolute;
  background: #CDA200;
  width: 15px;
  border-radius: 30px;
  height: 1308px;
  top: 3195px;
  margin: auto;
  right: 0;
  bottom: 0;
  left: 0;
}

.content__img {
  height: 450px;
  width: 100%;
  text-align: center;
  padding-top: 20px;
}

.content__img img {
  height: 100%;
  border-radius: 15px;
}

.about__description {
  background: #ddd;
  text-align: justify;
  font-family: 'Share Tech Mono', sans-serif;
  font-size: 20px;
}

.about__card {
  background: #ddd;
  text-align: center;
  padding: 20px;
}

.card__title {
  color: #031988;
  font-family: 'Aclonica', sans-serif;
  font-size: 23px;
  padding: 10px;
}

.about__description-1 {
  height: 300px;
  width: 400px;
  float: left;
  margin: 100px;
  position: absolute;
  border-radius: 20px;
  top: 1150px;
  padding: 20px;
}

.about__card-1 {
  height: 300px;
  width: 300px;
  float: left;
  margin: 100px;
  position: absolute;
  left: 60%;
  top: 1150px;
  border-radius: 20px;
  padding: 20px;
}

.about__card img {
  height: 80%;
}

.about__description-2 {
  height: 300px;
  width: 400px;
  float: left;
  margin: 100px;
  position: absolute;
  top: 1490px;
  left: 52.68%;
  border-radius: 20px;
  padding: 20px;

}

.about__card-2 {
  height: 300px;
  width: 300px;
  float: left;
  margin: 100px;
  position: absolute;
  top: 1490px;
  border-radius: 20px;
  padding: 20px;

}

.about__description-3 {
  height: 300px;
  width: 400px;
  float: left;
  margin: 100px;
  position: absolute;
  top: 1825px;
  border-radius: 20px;
  padding: 20px;

}

.about__card-3 {
  height: 300px;
  width: 300px;
  float: left;
  margin: 100px;
  position: absolute;
  left: 60%;
  top: 1825px;
  border-radius: 20px;
  padding: 20px;

}

.about__description-4 {
  height: 300px;
  width: 400px;
  float: left;
  margin: 100px;
  position: absolute;
  top: 2160px;
  border-radius: 20px;
  left: 52.68%;
  padding: 20px;

}

.about__card-4 {
  height: 300px;
  width: 300px;
  float: left;
  margin: 100px;
  position: absolute;
  top: 2160px;
  border-radius: 20px;
  padding: 20px;

}

.container__circle {
  position: absolute;
  background: #031988;
  height: 30px;
  width: 30px;
  border-radius: 100%;
}

.container__circle-1 {
  top: 1390px;
  margin: auto;
  left: 0;
  right: 0;
}

.container__circle-2 {
  top: 1720px;
  margin: auto;
  left: 0;
  right: 0;
}

.container__circle-3 {
  top: 2050px;
  margin: auto;
  left: 0;
  right: 0;
}

.container__circle-4 {
  top: 2380px;
  margin: auto;
  left: 0;
  right: 0;
}

.container__large {
  position: relative;
  background: #031988;
  height: 3px;
  width: 100px;
  border-radius: 30px;
  margin: auto;
  left: 100;
  right: 0;
}

.container__large-1 {
  top: 992.5px;
}

.container__large-2 {
  top: 1317.5px;
}

.container__large-3 {
  top: 1643.5px;
}

.container__large-4 {
  position: relative;
  top: 652.5px;
}

#services {
  height: 1200px;
  width: 100%;
  margin-top: 1900px;
}


.service__card {
  position: relative;
  width: 280px;
  height: 350px;
  margin: 28px;
  float: left;
}

.service__card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 20px;
  overflow: hidden;
  transition: .8s;
}

.service__card .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px #000;
  display: flex;
  justify-content: center;
}

.service__card .front img {
  position: absolute;
  width: 70%;
  height: 55%;
  object-fit: cover;
  margin-top: 20px;

}

.service__card .front h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #000000;
  text-align: center;
  font-family: 'Aclonica', sans-serif;
}

.service__card .back {
  transform: perspective(600px) rotateY(180deg);
  background: #dedede;
  padding: 15px;
  color: #031988;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 5px 10px #000;
  font-size: 20px;
  font-family: 'Share Tech Mono', sans-serif;
}

.service__card .back .link {
  border-top: solid 1px #000000;
  height: 50px;
  line-height: 50px;
}

.service__card .back .link a {
  text-decoration: none;
  color: #031988;
  padding: 10px;
}

.service__card .back .link img {
  margin-top: 10px;
  width: 19px;
}

.service__card .back h3 {
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 2px;
  font-family: 'Aclonica', sans-serif;
}

.service__card .back p {
  letter-spacing: 1px;
}

.service__card:hover .front {
  transform: perspective(600px) rotateY(180deg);
}

.service__card:hover .back {
  transform: perspective(600px) rotateY(360deg);
}

#activities {
  margin-top: -300px;
  width: 100%;
}

.activity__card {
  position: relative;
  width: 280px;
  height: 350px;
  margin: 28px;
  float: left;
}

.activity__card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 20px;
  overflow: hidden;
  transition: .8s;
}

.activity__card .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 2px 5px #000;
  display: flex;
  justify-content: center;
}

.activity__card .front img {
  position: absolute;
  width: 90%;
  height: 80%;
  object-fit: cover;
  margin-top: 20px;
  border-radius: 20px;
}

.activity__card .front h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #000000;
  text-align: center;
  font-family: 'Aclonica', sans-serif;
}

.activity__card .back {
  transform: perspective(600px) rotateY(180deg);
  background: #dedede;
  padding: 15px;
  color: #031988;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 5px 10px #000;
  font-size: 20px;
  font-family: 'Share Tech Mono', sans-serif;
}

.activity__card .back .link {
  border-top: solid 1px #000000;
  height: 50px;
  line-height: 50px;
}

.activity__card .back .link a {
  text-decoration: none;
  color: #031988;
  padding: 10px;
}

.activity__card .back .link img {
  margin-top: 10px;
}

.activity__card .back h3 {
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 2px;
  font-family: 'Aclonica', sans-serif;
}

.activity__card .back p {
  letter-spacing: 1px;
}

.activity__card:hover .front {
  transform: perspective(600px) rotateY(180deg);
}

.activity__card:hover .back {
  transform: perspective(600px) rotateY(360deg);
}

#contact {
  margin-top: 450px;
  width: 100%;
}

.contact__ubication {
  height: 525px;
  width: 610px;
  float: left;
  margin: 20px 30px;
  text-align: center;
  background: #ddd;
  border-radius: 20px;
}

.contact__form {
  background: #ddd;
  border-radius: 20px;
  height: 525px;
  width: 610px;
  float: left;
  margin: 20px 30px;
  padding: 10px;
  text-align: center;
}

.form__input[type="text"] {
  padding: 10px;
  width: 200px;
  font-size: 18px;
  font-family: 'Share Tech Mono', sans-serif;
  border-radius: 15px;
  margin: 10px;
  border: none;
}

.form__input[type="email"] {
  margin: 10px;
  padding: 10px;
  width: 425px;
  font-size: 18px;
  font-family: 'Share Tech Mono', sans-serif;
  border-radius: 15px;
  border: none;
}

.form__textarea {
  margin: 10px;
  padding: 10px;
  width: 425px;
  font-size: 18px;
  font-family: 'Share Tech Mono', sans-serif;
  border-radius: 15px;
  border: none;
}

.form__send {
  background: #031988;
  color: #fff;
  font-family: 'Aclonica', sans-serif;
  font-size: 18px;
  padding: 10px 50px;
  border-radius: 30px;
  border: none;
  margin: 10px 182.3px;
  transition: .8s;
}

.form__send:hover {
  background: #092ace;
  transition: .8s;
  cursor: pointer;
}

.contact__title {
  font-size: 20px;
  color: #031988;
  font-family: 'Aclonica', sans-serif;
}

.contact__title-1 {
  padding: 20px;
}

.contact__title-2 {
  padding: 20px;
}

.footer {
  background: #ddd;
  color: #fff;
  height: 400px;
  margin-top: 700px;
  bottom: 0;
}

.footer__logo {
  height: 350px;
  position: absolute;
}

.footer__logo img {
  height: 90%;
}

.footer__nav {}

.footer__links {
  height: 200px;
  padding-top: 100px;
  width: 200px;
  margin-left: calc(50% - 100px);
}

.footer__links h3 {
  color: #031988;
  font-family: 'Aclonica', sans-serif;
  font-size: 10px
}

.footer__link {
  text-decoration: none;
  color: #000;
  padding: 5px 10px;
  font-family: 'Share Tech Mono', sans-serif;
}

.footer__social {
  height: 200px;
  width: 300px;
  margin-left: calc(85% - 150px);
  margin-top: -300px;
  padding-top: 10px;
  margin-top: -130px;
}

.footer__social h3 {
  color: #031988;
  font-family: 'Aclonica', sans-serif;
}

.footer__social a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  font-family: 'Share Tech Mono', sans-serif;
  padding-top: 5px 10px;
}

.footer__information {
  height: 100px;
  width: 100%;
  background: #ddd;
  margin-top: 0;
  padding: 20px;
  float: left;
  display: flex;
  align-items: center;
  margin-top: 100px;
}

.information__content {
  display: flex;
  align-items: center;
  float: left;
  padding: 10px;
  margin: 30px;
  color: #000;
  font-family: 'Share Tech Mono', sans-serif;
}

.information__content img {
  height: 50px;
}





@media (max-width:750px) {
  .nav {
    height: 10vh;
  }

  .nav__links {
    display: none;
    margin-left: -10%;
  }

  .nav__links.activado {
    display: block;
    position: fixed;
    background: #031988;
    color: #fff;
    height: 90vh;
    top: 10vh;
    width: 80%;
    z-index: 1;
    transition: 1s;
    margin-left: 0;
  }

  .nav__links a {
    display: block;
    margin-top: 20px;
    color: #fff;
  }

  .hero {
    height: 90vh;
  }

  .hero__text {
    width: 43%;
    padding-top: 13%;
    padding-left: 2%;
    margin: 3%;
  }

  .hero__title {
    font-size: 21px;
    padding: 2px;
  }

  .hero__subtitle {
    font-size: 37px;
    padding: 2px;
  }

  .hero__presentation {
    height: 40%;
    width: 42%;
    float: left;
    margin-top: -32%;
    margin-left: 48%;
    display: flex;
    align-items: center;
    border-radius: 15px;
  }

  .hero__presentation img {
    height: 100%;
  }

  .nav__input {
    position: absolute;
    top: 11vh;
    left: 48%;
    width: 45%;
    visibility: hidden;
  }

  .nav__input.activar_buscar {
    visibility: visible;
  }

  .content {
    margin-top: 10vh;
  }

  .content__img {
    height: 450px;
    width: 99%;
    padding-top: 10px;
  }

  .content__img img {
    width: 100%;
    height: 450px;
    border-radius: 15px;
  }

  .ocultar__cli,
  .container__bar {
    display: none;
  }

  .about__description-1 {
    height: 300px;
    width: 40%;
    float: left;
    left: -7%;
    position: absolute;
    border-radius: 20px;
    top: 178vh;
    padding: 20px;
  }


  .about__description-2 {
    width: 40%;
    margin: 100px;
    top: 217vh;
    left: 42%;
  }

  .about__description-3 {
    height: 300px;
    width: 40%;
    float: left;
    left: -7%;
    position: absolute;
    border-radius: 20px;
    top: 260vh;
    padding: 20px;
  }

  .about__description-4 {
    width: 40%;
    margin: 100px;
    top: 300vh;
    left: 42%;
  }

  .about__card-1 {
    height: 300px;
    width: 40%;
    left: 42%;
    top: 178vh;
  }

  .about__card-2 {
    height: 300px;
    width: 40%;
    position: absolute;
    top: 217vh;
    left: -6%;

  }

  .about__card-3 {
    height: 300px;
    width: 40%;
    left: 42%;
    top: 260vh;
  }

  .about__card-4 {
    height: 300px;
    width: 40%;
    float: left;
    position: absolute;
    top: 300vh;
    border-radius: 20px;
    padding: 20px;
    left: -6%;

  }

  #services {
    height: 1200px;
    width: 100%;
  }


  .service__card {
    margin-left: 2%;
    width: 42%;
    height: 350px;
    margin: 28px;
    float: left;
  }

  #activities {
    margin-top: 20vh;
  }

  .activity__card {
    width: 42%;
    height: 350px;
    margin: 28px;
  }

  #contact {
    margin-top: 60vh;
    width: 100%;
  }

  .contact__ubication {
    height: 525px;
    width: 90%;
  }

  .contact__form {
    width: 90%;
  }

  .footer {
    height: 300px;
    margin-top: 150vh;
    bottom: 0;
  }

  .footer__logo {
    height: 280px;
  }

  .footer__logo img {
    height: 90%;
    width: 223px;
  }

  .footer__information {
    margin-top: 00px;
  }

  .nav__button {
    position: absolute;
    left: 72%;

  }

  .nav__themes {
    position: absolute;
    left: 83%;
  }

  #menu__ac {
    visibility: visible;
    position: absolute;
    top: 3%;
    left: 92%;
    height: 5.8%;
  }

  #menu__ac img {
    height: 100%;
  }

}

.ocultar__ci {
  display: none;
}

@media (max-width:500px) {
  .nav {
    height: 10vh;
    width: 100%;
  }

  .nav__button img {
    margin-left: 30%;
    height: 60%;
  }

  .nav__themes img {
    height: 60%;
  }

  #menu__ac img {
    height: 60%;
  }

  .hero {
    height: 120vh;
  }

  .hero__text {
    margin-top: 63vh;
    width: 90%;
  }

  .hero__title {
    font-size: 21px;
  }

  .hero__subtitle {
    font-size: 27px;
  }

  .hero__presentation {
    height: 380px;
    width: 95%;
    margin-top: -100vh;
    margin-left: 2%;
    margin-right: 2%;
  }

  .hero__presentation img {
    height: 100%;
    width: 98%;
  }

  .start {
    display: none;
  }

  .content__img {
    height: 380px;
    width: 100%;
    margin-left: -23px;
  }

  .content__img img {
    height: 80%;
    width: 113.8%;
    border-radius: 0;
  }

  .about__description {
    font-size: 13px;
  }

  .about__card {
    background: #ddd;
    text-align: center;
    padding: 15px;
  }

  .card__title {
    font-size: 20px;
    padding: 0;
  }

  .about__description-1 {
    height: 290px;
    width: 45%;
    float: left;
    margin: 0;
    top: 212vh;
    padding: 10px;
    left: 2%;
  }

  .about__description-2 {
    height: 290px;
    width: 48%;
    margin: 0;
    position: absolute;
    top: 258vh;
    left: 50%;
    border-radius: 20px;
    padding: 20px;
    font-size: 12px;
  }

  .about__description-4 {
    height: 290px;
    width: 48%;
    margin: 0;
    position: absolute;
    top: 348vh;
    left: 50%;
    border-radius: 20px;
    padding: 20px;
    font-size: 12px;
  }

  .about__description-3 {
    height: 290px;
    width: 45%;
    float: left;
    margin: 0;
    top: 303vh;
    padding: 10px;
    left: 2%;
  }

  .about__card-1 {
    height: 290px;
    width: 48%;
    margin: 0;
    left: 50%;
    top: 212vh;
    border-radius: 20px;
    padding: 20px;
    right: 2%;
  }

  .about__card-2 {
    height: 290px;
    width: 45%;
    float: left;
    margin: 0;
    position: absolute;
    top: 258vh;
    padding: 20px;
    left: 2%;
  }

  .about__card-3 {
    height: 290px;
    width: 48%;
    margin: 0;
    left: 50%;
    top: 303vh;
    border-radius: 20px;
    padding: 20px;
    right: 2%;
  }

  .about__card-4 {
    height: 290px;
    width: 45%;
    float: left;
    margin: 0;
    position: absolute;
    top: 348vh;
    padding: 20px;
    left: 2%;
  }

  .about__card img {
    height: 70%;
    width: 90%;
  }

  #services {
    height: 1200px;
    width: 100%;
    margin-top: 100vh;
  }


  .service__card {
    width: 45%;
    height: 320px;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 25px;
    margin-left: 3%;
  }

  .service__card .front img {

    width: 90%;
    height: 55%;
    object-fit: cover;
    margin-top: 3px;

  }

  .service__card .back p {
    letter-spacing: 1px;
    font-size: 12px;
    text-align: justify;
  }

  #activities {
    margin-top: 190vh;
    width: 100%;
  }

  .activity__card {
    width: 46%;
    height: 340px;
    margin: 0;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 30px;
  }

  .activity__card .front img {
    position: absolute;
    width: 100%;
    height: 80%;
    object-fit: cover;
    margin-top: 0;
    border-radius: 20px 20px 0 0;
  }

  .activity__card .back p {
    letter-spacing: 1px;
    font-size: 12px;
    text-align: justify;
  }

  .activity__card .back .link img {
    margin-top: 10px;
    width: 19px;
  }

  #contact {
    margin-top: 110vh;
    width: 100%;
  }

  .contact__ubication {
    height: 525px;
    width: 96%;
    float: left;
    margin: 20px 30px;
    background: #ddd;
    margin-left: 2%;
    margin-right: 2%;
  }

  iframe {
    width: 100%;
  }

  .contact__form {
    height: 559px;
    width: 95%;
    margin-left: 2%;
    margin-right: 2%;
  }

  .form__input[type="text"] {
    padding: 10px;
    width: 90%;
  }

  .form__input[type="email"] {
    width: 90%;
    font-size: 18px;
  }

  .form__textarea {
    padding: 10px;
    width: 90%;
  }

  .form__send {
    background: #031988;
    color: #fff;
    font-family: 'Aclonica', sans-serif;
    font-size: 18px;
    margin: 0;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
  }

  .footer {
    background: #ddd;
    color: #fff;
    height: 300px;
    margin-top: 200vh;
    bottom: 0;
  }

  .footer__logo {
    margin-top: 40px;
    height: 120px;
    position: absolute;
  }

  .footer__logo img {
    height: 90%;
    width: 100px;
  }

  .footer__links h3 {
    font-size: 15px
  }

  .footer__social a {
    font-size: 12px;
  }

  .footer__social {
    height: 200px;
    width: 100px;
    margin-left: 62%;
    padding-top: 10px;
    margin-top: -130px;
  }

  .footer__information {
    height: 100px;
    width: 100%;
    background: #ddd;
    margin-top: 0;
    padding: 20px;
    align-items: center;
    margin-top: 0;
  }

  .information__content {
    display: flex;
    align-items: center;
    float: left;
    padding: 10px;
    margin: 0;
    color: #000;
    font-family: 'Share Tech Mono', sans-serif;
  }

  .information__content img {
    height: 20px;
  }

  .information__content p {
    font-size: 8px;
  }

}

@media (max-width:300px) {
  .nav__themes {
    left: 65%;
  }

  .nav__button {
    left: 70%;
  }

  #menu__ac img {
    left: 80%;
    height: 20px;
  }

  .hero__presentation {
    height: 300px;
    width: 95%;
  }

  .hero__presentation img {
    height: 100%;
  }

  .about__description-1 {
    height: 290px;
    width: 43%;
    float: left;
    margin: 0;
    border-radius: 2px;
    top: 215%;
    left: 2%;
    right: 2%;
  }

  .about__description-2 {
    height: 300px;
    width: 94%;
    float: left;
    margin: 0;
    border-radius: 2px;
    top: 265%;
    left: 2%;
    right: 2%;
  }

  .about__description-3 {
    height: 300px;
    width: 94%;
    margin: 0;
    top: 315%;
    left: 2%;
    right: 2%;
    border-radius: 2px;
  }

  .about__description-4 {
    height: 300px;
    width: 94%;
    margin: 0;
    top: 365%;
    left: 2%;
    right: 2%;
    border-radius: 2px;
  }

  .about__card-1 {
    width: 43%;
    float: left;
    margin: 0;
    position: absolute;
    left: 53%;
    top: 212%;
    border-radius: 20px;
    padding: 20px;
  }

  .about__card-2 {

    width: 43%;
    float: left;
    position: absolute;
    top: 259%;
    border-radius: 20px;
    padding: 20px;

  }

  .service__card {
    position: relative;
    width: 90%;
    height: 350px;
    margin: 5%;
    float: left;
  }

  #activities {
    margin-top: 340vh;
    width: 100%;
  }

  .activity__card {
    width: 90%;
    height: 350px;
    margin: 5%;
  }

  .contact__form {
    height: 579px;
    width: 95%;
    margin-left: 2%;
    margin-right: 2%;
  }

  .form__input[type="text"] {
    width: 96%;
  }

  .form__input[type="email"] {
    width: 96%;
  }

  .form__textarea {
    width: 96%;
  }

  .footer__logo {
    margin-bottom: 30px;
    height: 100px;
    position: absolute;
  }

  .footer__logo img {
    height: 90%;
  }

  .footer__links h3 {
    color: #031988;
    font-family: 'Aclonica', sans-serif;
    font-size: 10px;
  }

  .footer__link {
    margin-top: 40px;
    text-decoration: none;
    color: #000;
    padding: 5px 10px;
    font-family: 'Share Tech Mono', sans-serif;
    font-size: 10px;
  }


}

@media (max-width:450px) {

  .about__description-1 {
    width: 43%;
    border-radius: 20px;
    top: 212%;
    padding: 20px;
  }

  .about__description-2 {
    width: 43%;
    left: 53%;
    top: 259%;
  }

  .about__description-3 {
    top: 306%;
    width: 43%;
  }

  .about__description-4 {
    width: 43%;
    left: 53%;
    top: 353%;
  }

  .about__card-1 {
    width: 43%;
    float: left;
    margin: 0;
    position: absolute;
    left: 53%;
    top: 212%;
    border-radius: 20px;
    padding: 20px;
  }

  .about__card-2 {

    width: 43%;
    float: left;
    position: absolute;
    top: 259%;
    border-radius: 20px;
    padding: 20px;

  }

  .about__card-3 {
    width: 43%;
    left: 53%;
    top: 306%;
  }

  .about__card-4 {
    width: 43%;
    top: 353%;
  }

}